name: Check for updates
on:
  schedule:
    - cron: "0 * * * *" # run every hour
  workflow_dispatch:

jobs:
  flatpak-external-data-checker:
    runs-on: ubuntu-latest
    container: ghcr.io/flathub/flatpak-external-data-checker:latest

    strategy:
      matrix:
        branch: [ main ] # list all branches to check

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}

      # The f-e-d-c safe.directory handling is currently broken when the
      # manifest is in a subdirectory, so it has to be handled outside
      # of the checker.
      #
      # https://github.com/flathub/flatpak-external-data-checker/issues/386
      - name: Mark git checkout safe
        run: |
          git config --global --add safe.directory "$PWD"

      - name: Run flatpak-external-data-checker
        env:
          GIT_AUTHOR_NAME: Flatpak External Data Checker
          GIT_COMMITTER_NAME: Flatpak External Data Checker
          GIT_AUTHOR_EMAIL: os@endlessos.org
          GIT_COMMITTER_EMAIL: os@endlessos.org
          EMAIL: os@endlessos.org
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: build-aux/flatpak
        run: |
          /app/flatpak-external-data-checker --update --verbose --never-fork \
            org.endlessos.Key.Devel.json
